/*    Agregar dark theme (Usar deteccion del usuario)
      Mejorar ratio de contraste. No usar 21:1 */

@font-face {
    font-family: 'opendislexic';
    src: url("./fonts/OpenDyslexic-Regular.otf");
    font-weight: normal;
    font-style: normal;
}



:root {
    /* cambiando estos colores cambia toda la pagina*/
    
    --color-claro: #6E37A4/*rgba(233, 191, 124, 0.9)*/;
    --color-medio:  #663399/* #e6b570*/;
    --color-oscuro:#4F2877/*#d19e57 */;
    --color-oscurox2:  #422163/*#c79144*/;
    --color-texto: white;

    --color-sombra1: rgba(112, 139, 168, 0.25);
    --color-borde: #80bdff;
    --sombra-container: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.25);
    --background-gradient: var(--color-oscurox2);/*linear-gradient(to bottom,var(--color-claro) 0%, var(--color-oscurox2) 100%);*/
    --sombra-textos: rgba(0,0,0,0);
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    background: var(--background-gradient);
}

h1 {
    text-shadow: 2px 2px 3px var(--color-oscurox2);
    color: var(--color-texto)
}

h3 {
    margin-bottom: 1.5rem;
    text-shadow: var(--sombra-textos);
    color: var(--color-texto)
}

p,label {
    color:var(--color-texto)
}

.form-control {
    transition: ease 0.1s;
}

#edadEncuestado:hover {
    border-color: var(--color-borde);
    outline: 0;
    box-shadow: 0 0 0 0.02rem rgb(0 123 255 / 25%);
    box-shadow: 0 0 0 0.02rem var(--color-sombra1);
}

#edadEncuestado:focus-within {
    border-color: var(--color-borde);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    box-shadow: 0 0 0 0.2rem var(--color-sombra1);
}

.seccion-container {
    box-shadow: (var(--sombra-container));
    background-color: var(--color-medio);
    box-shadow: var(--sombra-container);
    border-radius: 10px;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

h1:focus {
    outline: none;
    text-decoration: underline;
}

#input-edad {
    background-color:var(--color-claro);
    color:var(--color-texto);
    border-radius: 10px;
    border-style: none;
}

#comentarios {
    background-color: var(--color-medio);
    border-radius: 10px;
    border-style: none;
    color: var(--color-texto)
}

#saveForm,
#clearForm {
    border-color: black;
}

#pregunta14,
#pregunta15,
#pregunta16 {
    background-color:var(--color-claro);
    border-radius: 10px;
    border-style: none;
}

#h3-comentarios {
    text-shadow: 2px 2px 3px var(--color-oscuro);
    color: var(--color-texto)
}

input {
    background-color:var(--color-claro);
    border-style: none;
}

.sticky-top {
    top: 5px;
    float: right;
}

.dropleft {
    float: right;
    margin-right: 1rem;
}

.dropleft:hover>.dropdown-menu {
    display: block;
    border-radius: 7px;
}

.dropdown-item:hover {
    background-color:var(--color-claro);
}

@media screen and (max-width: 767px) {
    h3 {
        text-align: center;
    }
    p,
    #label-edad {
        font-size: 1.12em;
        font-weight: bold;
        margin-top: 1rem;
    }
    #input-edad {
        width: 60%;
    }
}

@media screen and (max-width: 550px) {
    #input-edad {
        width: 80%;
    }
}

@media screen and (max-width: 370px) {
    #input-edad {
        width: 90%;
    }
}


/* MOTO G4 */

@media screen and (max-width: 400px) {
    .container {
        max-width: 80%;
        overflow-x: hidden;
    }
    h1 {
        font-size: 2em;
    }
    body {
        font-size: 1em;
    }
}