/*    Agregar dark theme (Usar deteccion del usuario)
      Mejorar ratio de contraste. No usar 21:1 */

:root {
    --color-sombra1: rgba(112, 139, 168, 0.25);
    --color-borde: #80bdff;
    --sombra-container: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 123, 255, 0.25);
    --background-gradient: linear-gradient(to bottom, rgba(233, 191, 124, 0.9) 0%, rgba(233, 160, 65, 0.5) 100%);
    --sombra-textos: 2px 2px 3px #a86d1b;
}

body {
    color: black;
    background: linear-gradient(to bottom, rgba(233, 191, 124, 0.9) 0%, rgba(233, 160, 65, 0.5) 100%);
    background: var(--background-gradient);
}

h1 {
    text-shadow: 2px 2px 3px #c79144;
    color: rgba(0, 0, 0, 1)
}

h3 {
    margin-bottom: 1.5rem;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 3px 3px 6px rgba(0, 123, 255, 0.25);
}

.form-control {
    transition: ease 0.1s;
}

#edadEncuestado:hover {
    border-color: #80bdff;
    border-color: var(--color-borde);
    outline: 0;
    box-shadow: 0 0 0 0.02rem rgb(0 123 255 / 25%);
    box-shadow: 0 0 0 0.02rem var(--color-sombra1);
}

#edadEncuestado:focus-within {
    border-color: #80bdff;
    border-color: var(--color-borde);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    box-shadow: 0 0 0 0.2rem var(--color-sombra1);
}

.seccion-container {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 123, 255, 0.25);
    background-color: #e6b570;
    box-shadow: var(--sombra-container);
    border-radius: 10px;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

h1:focus {
    outline: none;
    text-decoration: underline;
}

#input-edad {
    background-color: rgba(233, 191, 124, 0.9);
    border-radius: 10px;
    border-style: none;
}

#comentarios {
    background-color: #e6b570;
    border-radius: 10px;
    border-style: none;
    color: rgba(0, 0, 0, 0.8)
}

#saveForm,
#clearForm {
    border-color: black;
}

#pregunta14,
#pregunta15,
#pregunta16 {
    background-color: rgba(233, 191, 124, 0.9);
    border-radius: 10px;
    border-style: none;
}

#h3-comentarios {
    text-shadow: 2px 2px 3px #d19e57;
    color: rgba(0, 0, 0, 0.9)
}

input {
    background-color: rgba(233, 191, 124, 0.9);
    border-style: none;
}

@media screen and (max-width: 767px) {
    h3 {
        text-align: center;
    }
    p,
    #label-edad {
        font-size: 18px;
        font-weight: bold;
        margin-top: 1rem;
    }
    #input-edad {
        width: 60%;
    }
}

@media screen and (max-width: 550px) {
    #input-edad {
        width: 80%;
    }
}

@media screen and (max-width: 370px) {
    #input-edad {
        width: 90%;
    }
}


/* MOTO G4 */

@media screen and (max-width: 400px) {
    .container {
        max-width: 80%;
        overflow-x: hidden;
    }
    h1 {
        font-size: 30px;
    }
    body {
        font-size: 16px;
    }
}